@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("boards.4chan.org") {

    body {
       /*background: url('/image/fade-blue.png') repeat-x scroll center top #EEF2FF;
        background-color: #e2e2e2;
        background-image: url('/image/fade-blue.png');
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-position: center top;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;*/
        background: url('file:///home/tatou/Documents/Rice/4chan/Food/food_1.png') repeat #57544F;
        background-image: url(file:///home/tatou/Documents/Rice/4chan/food_1.png);
        background-repeat: repeat;
/*        background: #e7e7e7;*/
        background-color: #3D444E;
        margin: 0px;
        padding: 0px;
        color: #333;
        font-family: Droid Sans;
        font-size: 10pt;
    }
    
    .navLinks.desktop, .bottomCtrl.desktop, .absBotDisclaimer, .postInfo input, .sideArrows, .ad-plea {
       display: none;
    }
    
    #header-bar a {
        color: #EBE3D3 !important;
    }
    
    #header-bar {
        background-color: #1A1917;
        padding: 0px;
    }
    
    
    .boardTitle {
        font-family: Cheeky Rabbit !important;
        font-size: 40pt !important;
        letter-spacing: 0px !important;
        color: #A73E28;
        text-shadow: 1px -1px 0 rgba(0,0,0,0.1);
    }
    
    .boardSubtitle {
        font-family: Cheeky Rabbit !important;
        font-size: 14pt !important;
        letter-spacing: 0px !important;
        color: #A73E28;
        text-shadow: 1px -1px 0 rgba(0,0,0,0.1);
    }
    
    
    .dialog {
        background-color: #201F1D !important;
        border-color: #57544F !important;
        border-style: none;
    }
    
    qr.dialog {
        border-style: solid !important;
    }
    
    #shortcuts {
        background-color: #A73E28;
        color: #A73E28;
        padding: 3px;
    }
    
    .board {
        margin: 2.5% 5% 2.5% 5%;
    }
    
    .postContainer {
        margin: 2px;
        background-color: #fafafa;
        border-style: solid;
        border-color: #dadada;
        border-width: 1px;
        border-radius: 0px;
    }
    
    .post.op {
        display: table !important; /*Permet de forcer le retour à la ligne après le post d'OP*/
    }
    
    .post.reply {
        padding: 5px 10px 10px 10px;
        border-style: none;
        background-color: #fafafa;
    }

    div.postContainer.replyContainer.your-post {
        border-left-color: #A73E26;
        border-left-width: 3px;
        border-radius: 2px;
    }
    
    .stub, .stub a {
        color: #a9a9a9 !important;
        padding: 5px;
    }
    
    .postMessage .inline {
        border-style: none;
    }
    
    hr {
     visibility: hidden;   
    }
    
    #unread-line {
        background-color: #A73E28;
        border-style: solid;
        border-width: 1px;
        border-color: #363430;
        padding: 2px;
        border-radius: 2px;
        visibility: visible;
        
    }
    
    .postInfo {
        margin-left: 5px;
        white-space: nowrap;
    }
    
    div.post div.postInfo span.nameBlock span.name {
        color: #555555;
        font-weight: normal;
    }

    div.post div.postInfo span.nameBlock span.postertrip {
        color: #555555;
        font-style: italic;
    }

    div.post div.postInfo span.dateTime {
        color: #a9a9a9;
    }
    
    div.post div.postInfo span.postNum a {
        color: #a9a9a9;
    }
    
    div.post div.postInfo a {
        color: #a9a9a9 !important;
    }
    
    .backlink {
        visibility: hidden;
        letter-spacing: -999px;
        text-decoration: none;
    }
    .backlink:after {
        font-family: Cheeky Rabbit;
        font-size: 17px;
        content: "o";
        color:#773137;
        visibility: visible;
        letter-spacing: normal;
    }
    
    span.file-info {
        font-size: 8pt;
        color: #a9a9a9;
    }
    div.fileText a {
        color: #555555 !important;
    }
    
    div.post.op div.file div.fileText {
        padding-left: 10px;
        padding-bottom: 3px;
    }
    
    .postMessage a.quotelink {
        color: #555555 !important;
        text-decoration: none;
    }
    
    .prettyprint {
        border: medium solid !important;
        border-width: 1px !important;
        border-color: #a9a9a9 !important;
        font-family: menlo;
        font-size: 9pt;
        background-color: #FFF !important;
    }
    
    #thread-stats.dialog {
        background-color: #A73E28 !important;
        color: #EDDEC9 !important;
        padding-bottom: 2px;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
    }
    #update-timer {
        background-color: #3D444E !important;
        color: #EDDEC9;
        padding-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 4px;
    }
    #update-status.new {
        color: #878438;
    }
    #updater.dialog {
        background-color: #1A1917;
        border-style: none;
        padding: 1px;
        color: #eBE3D3;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 1px;
    }
    #thread-watcher.dialog {
        background-color: #201F1D;
        color: #EBE3D3;
        border-color: #242320;
        padding: 10px;
    }
    
    #thread-watcher.dialog a {
        color: #A7341B !important;
    }

    /* PUBLICITÉS */
    
    img.topad, .topad > div, .topad a img, img.middlead, .middlead > div, .middlead a img, img.bottomad, .bottomad > div, .bottomad a img {
        height: 1px;
        margin: -10px;
    }
    
}